* Egyptian Houses_price Data

* Columns
* Type ==>the type of property
* Price ==> the price of property
* Bedrooms ==>number of bedrooms
* Bathrooms ==> number of bathrooms
* Area ==> the Area of the property by m^2
* Furnished ==> is the property Furnished or not
* Level ==> In what floor the property is ?
* Compound ==> In what Compound the property is ?
* Payment_Option
* Delivery_Date
* City

In [1]:
import warnings
import pandas as pd

warnings.filterwarnings('ignore')
pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.set_option('display.float_format', lambda x: '%.5f' % x)

# Read data

In [17]:
df = pd.read_csv('E:\\data analysis projects\\Egypt_Houses_price\\Egypt_Houses_Price.csv')
df.head()

,Type,Price,Bedrooms,Bathrooms,Area,Furnished,Level,Compound,Payment_Option,Delivery_Date,Delivery_Term,City
0,Duplex,4000000,3,3,400,No,7,Unknown,Cash,Ready to move,Finished,Nasr City
1,Apartment,4000000,3,3,160,No,10+,Unknown,Cash,Ready to move,Finished,Camp Caesar
2,Apartment,2250000,3,2,165,No,1,Unknown,Cash,Ready to move,Finished,Smoha
3,Apartment,1900000,3,2,230,No,10,Unknown,Cash,Ready to move,Finished,Nasr City
4,Apartment,5800000,2,3,160,No,Ground,Eastown,Cash,Ready to move,Semi Finished,New Cairo - El Tagamoa

# Data cleaning

In [18]:
df.shape

(27361, 12)

In [19]:
df.isnull().sum()

Type                0
Price               2
Bedrooms          203
Bathrooms         171
Area              471
Furnished           0
Level               0
Compound            0
Payment_Option      0
Delivery_Date       0
Delivery_Term       0
City                0
dtype: int64

In [20]:
df.dropna(inplace=True)

In [21]:
df.isnull().sum()

Type              0
Price             0
Bedrooms          0
Bathrooms         0
Area              0
Furnished         0
Level             0
Compound          0
Payment_Option    0
Delivery_Date     0
Delivery_Term     0
City              0
dtype: int64

In [22]:
df.shape

(26730, 12)

* We have been dropped 631 rows from the data frame = 1% from the dataframe approximately

In [23]:
df.dtypes

Type              object
Price             object
Bedrooms          object
Bathrooms         object
Area              object
Furnished         object
Level             object
Compound          object
Payment_Option    object
Delivery_Date     object
Delivery_Term     object
City              object
dtype: object

In [24]:
df['Price'] = df['Price'].apply(lambda x: float(x) if x.isnumeric() else x)
df['Bedrooms'] = df['Bedrooms'].apply(lambda x: float(x) if x.isnumeric() else x)
df['Bathrooms'] = df['Bathrooms'].apply(lambda x: float(x) if x.isnumeric() else x)
df['Area'] = df['Area'].apply(lambda x: float(x) if x.isnumeric() else x)

* We have cells contains "Unknown" values in the data frame

In [25]:
for i in df.columns:
    print('Column {}: {} Unknown value(s)'.format(i, len(df[i][df[i] == 'Unknown'])))

Column Type: 36 Unknown value(s)
Column Price: 37 Unknown value(s)
Column Bedrooms: 36 Unknown value(s)
Column Bathrooms: 36 Unknown value(s)
Column Area: 36 Unknown value(s)
Column Furnished: 8378 Unknown value(s)
Column Level: 9833 Unknown value(s)
Column Compound: 10734 Unknown value(s)
Column Payment_Option: 0 Unknown value(s)
Column Delivery_Date: 9914 Unknown value(s)
Column Delivery_Term: 0 Unknown value(s)
Column City: 0 Unknown value(s)

* We will drop Rows that have Unknown values (Because it will not be accurate if we replace them with mode value)
* Dropping Unknown will decrease a large number of rows from the data (But it is the best solution)
* Replacing Unknown with mode value will get bad estiamtion (There is a large amount of rows has Unknown values)

In [26]:
df.drop(df['Type'].index[df['Type'] == 'Unknown'].tolist(), inplace=True)
df.drop(df['Price'].index[df['Price'] == 'Unknown'].tolist(), inplace=True)
df.drop(df['Bedrooms'].index[df['Bedrooms'] == 'Unknown'].tolist(), inplace=True)
df.drop(df['Bathrooms'].index[df['Bathrooms'] == 'Unknown'].tolist(), inplace=True)
df.drop(df['Area'].index[df['Area'] == 'Unknown'].tolist(), inplace=True)
df.drop(df['Furnished'].index[df['Furnished'] == 'Unknown'].tolist(), inplace=True)
df.drop(df['Level'].index[df['Level'] == 'Unknown'].tolist(), inplace=True)
df.drop(df['Compound'].index[df['Compound'] == 'Unknown'].tolist(), inplace=True)
df.drop(df['Delivery_Date'].index[df['Delivery_Date'] == 'Unknown'].tolist(), inplace=True)
df.drop(df['Delivery_Term'].index[df['Delivery_Term'] == 'Unknown '].tolist(), inplace=True)

In [27]:
df.shape

(5086, 12)

In [13]:
df.rename(columns={'Area': 'Area (m^2)'}, inplace=True)

In [14]:
df.to_excel('E:\\data analysis projects\\Egypt_Houses_price\\data file.xlsx', index=False, sheet_name='Data')